/* Write your code here. */

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  padding: 25px;
}
.heading {
  font-family: "Roboto";
  text-align: center;
}
.container {
  text-align: center;
  font-family: "Roboto";
  background-color: #cffafe;
  height: 78vh;
  margin-right: 100px;
  margin-left: 100px;
  padding: 15px;
}
.image {
  height: 65px;
}
